<!DOCTYPE html>
<html>
<head>

    {{partial "header.html" . }}

</head>
<body class="container">

  <div>
      <h1 id="title">{{ .Title }}</h1>
      {{ range .Data.Pages }}
      <article >
          <header>
            <h4><a href='{{ .Permalink }}'>{{ .Title }}</a> </h4>
            <div>{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
        </header>
        <footer>
          <a href='{{ .Permalink }}'>Vai all'articolo</a>
        </footer>
    </article>
    <br>
    {{ end }}
</div>
{{ partial "footer.html" . }}
</body>
</html>
