<!DOCTYPE html>
<html>
<head>
  {{partial "header.html" . }}
</head>
<body class="container">
  <h1>{{ .Title }}</h1>
  <div class="card">
    <div class="card-body">
      {{.Content}}
    </div>
   <!--  {{ with .Params.tags }}
    Tags:
    <ul >
      {{ range . }}
        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }} -->
  </div>
<br>
<br>
  <form class="col-md-5" id="form" action="https://cloud.us17.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="776c09c36150b0e9b541ff145">
    <input type="hidden" name="id" value="1b379339ba">
    <input id="ga" type="hidden" name="MERGE3" id="MERGE3" size="25" value="">

    <div class="form-group">
      <label for="MERGE0">Email Address <span class="req asterisk">*</span></label>
      <input class="form-control" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
    </div>


    <div class="form-group">
      <input class="form-control btn btn-primary" type="submit" class="formEmailButton" name="submit" value="Subscribe to list">
    </div>
  </form>
  <br>
  <br>
  {{ partial "footer.html" . }}
</body>
</html>