
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>LinkedData Center</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="{{.Site.BaseURL}}css/paper-kit.css?v=2.1.0" rel="stylesheet"/>
    <!-- <link href="{{.Site.BaseURL}}css/demo.css" rel="stylesheet" /> -->

    <!--     Fonts and icons     -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{.Site.BaseURL}}css/nucleo-icons.css" rel="stylesheet">

    <!-- Core js files -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
    <script defer src="{{.Site.BaseURL}}js/paper-kit.js?v=2.1.0"></script>

</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg fixed-top navbar-transparent nav-down" color-on-scroll="500">
        <div class="container">
            <div class="navbar-translate">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{.Site.BaseURL}}">LinkedData.Center</a>
                </div>
                <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">Products</a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-danger">
                            <a class="dropdown-item" href="#prodotto"><i class="nc-icon nc-tile-56"></i>&nbsp; Prodotto</a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  data-toggle="dropdown" href="javascript:void(0)">Solutions</a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-danger">
                            <a class="dropdown-item" href="{{.Site.BaseURL}}solution"><i class="nc-icon nc-bank"></i>&nbsp; Solution</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <!-- <div class="page-header" data-parallax="true" style="background-image: url('../img/research-topology.jpg');"> -->
        <div class="page-header" data-parallax="true" style="background-image: url('../img/net2.png');">
            <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <div class="motto">
                        <h1 class="title">LinkedData.Center</h1>
                        <h3 class="description">Improve your knowledge to manage your problems</h3>
                        <br />
                        <a href="javascript:alert('qui video spiegativo')" class="btn btn-outline-neutral btn-round">
                            <i class="fa fa-play"></i>Learn how
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="section text-center landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title">Our solutions</h2>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.</h5>
                            <br />
                            <a href="#processo" class="btn btn-info btn-fill btn-round">See Details</a>
                        </div>
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-default" >
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Arricchisci</h4>
                                    <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                    <a href="javascript:alert('collapse coi prodotti, oppure pagina soluzione')" class="btn btn-link btn-info">See more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-default"  data-toggle="collapse" data-target="#pulisci_prod">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Pulisci</h4>
                                    <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                    <a data-toggle="collapse" data-target="#pulisci_prod" href="#pkp" class="btn btn-link btn-info">See more</a>
                                </div>
                            </div>
                            <div class="collapse" id="pulisci_prod">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/product/prod1">First product</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/product/prod1">First product</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/product/prod1">First product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-default">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Unisci</h4>
                                    <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                    <a href="" class="btn btn-link btn-info">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-default">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Estrai</h4>
                                    <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                    <a href="#pkp" class="btn btn-link btn-info">See more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-default">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Mappa</h4>
                                    <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                    <a href="#pkp" class="btn btn-link btn-info">See more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-default">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Analizza</h4>
                                    <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                    <a href="#pkp" class="btn btn-link btn-info">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section text-center landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title" id="processo">Processo di acquisto</h2>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.</h5>
                            <br />
                        </div>
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-md">
                            <div class="info ">
                                <div class="icon icon-default" >
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Scegli cosa ti serve</h4>
                                    <p>arricchisci , pulishi, uninsci, estrai, mappa, analizza</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="info ">
                                <div class="icon icon-default" >
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Spiega il tuo problema</h4>
                                    <p>team di data-scientist ti sarà a tua disposizione per trovare la soluzione migliore</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="info ">
                                <div class="icon icon-default" >
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Valuta tempi e costi</h4>
                                    <p>scegli la mod. che preferisci: chiavi in mano o fai da ta</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="info ">
                                <div class="icon icon-default" >
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Paga</h4>
                                    <p>Soddisfatto o rimborsato</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="info ">
                                <div class="icon icon-default" >
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">ricavi la soluzione</h4>
                                    <p>Risolvi il tuo problema e valua ldc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           <!--  <div class="section section-gray text-center landing-section">
                <div class="container">
                    <h2 class="title">Let's talk about us</h2>
                    <div class="row">
                        <ul>
                            <li><a href="" title="">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->

            <div class="section section-gray" style="padding: 20px;">
                <div class="container">
                    <form action="" method="get" accept-charset="utf-8">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="email" class="form-control" id="inputEmail"
                                aria-describedby="emailHelp" placeholder="Subscribe to our newsletter">
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-info">Subscribe</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <footer class="footer section-dark" style="padding-top: 20px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="">
                        <button style="padding-right: 10px;" class="btn btn-just-icon btn-border btn-google">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </button>
                        <button style="padding-right: 10px;" class="btn btn-just-icon btn-border btn-linkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </button>
                        <button style="padding-right: 10px;" class="btn btn-just-icon btn-border btn-facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>
                        <button style="padding-right: 10px;" class="btn btn-just-icon btn-border btn-twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </button>
                        <button style="padding-right: 10px;" class="btn btn-just-icon btn-border btn-github">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="{{.Site.BaseURL}}">LinkedData.Center</a></li>
                            <li><a href="{{.Site.BaseURL}}post">Blog</a></li>
                            <li><a href="//www.iubenda.com/privacy-policy/8276533" class="" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
                        </ul>
                    </nav>

                    <div class="credits ml-auto">
                        <span class="copyright">
                            © <script>document.write(new Date().getFullYear())</script>, LinkedData.Center
                        </span>
                    </div>
                </div>

            </div>
        </footer>
    </body>

    <!-- Core JS Files -->


    </html>
