<!DOCTYPE html>
<html>
<head>
  {{partial "header.html" . }}
</head>
<body class="container">
  <h2>{{ .Title }}</h2>
  <br>
  <div style="display: grid; grid-template-columns: repeat(12, 1fr); grid-column-gap: 10px;">
      {{ with .Params.tags }}
        {{ range . }}
          <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="badge badge-primary">{{.}}</a>
        {{ end }}
      {{ end }}
    </div>
    <br>
  <div class="blockquote">
    {{.Content}}
  </div>
  <br>
<div id="form_container">
 <!--  <form class="col-md-5" id="form" action="https://cloud.us17.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="776c09c36150b0e9b541ff145">
    <input type="hidden" name="id" value="1b379339ba">
    <input id="ga" type="hidden" name="MERGE3" id="MERGE3" size="25" value="">
    <div class="form-group">
      <label for="MERGE0">Email Address <span class="req asterisk">*</span></label>
      <input class="form-control" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
    </div>
    <div class="form-group">
      <input class="form-control btn btn-primary" type="submit" class="formEmailButton" name="submit" value="Subscribe to list">
    </div>
  </form> -->
</div>



  <br>
  {{ partial "footer.html" . }}
</body>
</html>